* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior: none;

  /* For Firefox
  scrollbar-width: none;

  /* For Internet Explorer and Legacy Edge */
  -ms-overflow-style: none;
}

/* For Chrome, Safari, and Chromium-based Edge / Opera */
/* html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; 
} */

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  padding-top: 8px;
  background-color: #fff;
  z-index: 100;
  margin-top: 44px;
}

.header .nav-bar {
  position: sticky;
  display: flex;
  align-items: center;
  height: 48px;
}

.header .nav-list {
  display: flex;
  align-items: center;
  margin-left: 235px;
  /* margin-top: 1px; */
  padding-left: 0;
}

.header .nav-item {
  list-style-type: none;
  margin-left: 39px;
}

.header .nav-item:first-of-type {
  margin-left: 0px;
}

.header .nav-item a {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
  transition: text-shadow 0.2s ease;
}

.header .nav-item a:hover {
  text-shadow: 1px 0 0 currentColor;
}

.header .selected-nav-item a {
  color: #2f3a3b;
  font-weight: 600;
}

.header .header-cta {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header .sign-in {
  color: #494949;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 24px;
}

.header .btn-sign-up {
  display: inline-block;
  width: 108px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: #1ebfc1;
  text-align: center;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
}

.header .btn-sign-up:hover {
  background-color: #1ebfc1;
  color: #fff;
}

/* Hero */

.hero {
  display: flex;
  margin-top: 50px;
}

.hero-left {
  padding-top: 93px;
  width: 40%;
}

.hero-left .intro-desc {
  color: #767E7E;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero-left .heading {
  margin-top: 18px;
  color: #0D1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 116.129%; /* 116.129% */
}

.hero-left .desc {
  width: 374px;
  margin-top: 46px;
  color: #9DA6A5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 177.778%; /* 177.778% */
}

.hero-cta {
  display: flex;
  margin-top: 52px;
}

.hero-left .hero-cta-btn  {
  display: inline-block;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #1EBFC1;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
  color: #FFF;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 68px;
}

.hero-left  .hero-cta-play {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border-radius: 62px;
  background: #FFF;
  box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
}

.hero-cta a {
  transition: opacity 0.2s ease;
}

.hero-cta a:hover {
  opacity: 0.7;
}
